<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 hidden-xs">
          <app-profile></app-profile>
        </div>
        <div class="col-md-9 hidden-sm hidden-xs">
          <app-weekbean></app-weekbean>
        </div>
      </div>
      <hr class="hidden-xs hidden-sm">

      <div class="panel panel-success table-climbs">
        <div class="panel-heading hidden-xs">
          <h3 class="panel-title"><span class="fa fa-table"></span> Table</h3>
        </div>

        <div class="panel-body">
          <h1>Table</h1>
          <app-timetable></app-timetable>
        </div>
      </div>
    </div>
  </div>
</div>
<button (click)="logout()">logout</button>
