<ul>
  <li *ngFor="let board of trelloBoards">Name: <span>{{board.boardname}}</span>,
    BoardID:  <span (click)="isEdit=true" *ngIf="!isEdit">{{board.boardid}}</span>
              <input #boardID [value]="board.boardid" *ngIf="isEdit" (blur)="editId(board.boardid, boardID.value); isEdit=false"
                                                    (keydown.enter)="editId(board.boardid, boardID.value); isEdit=false">
  </li>
  <input type="text" #newBoardID> <i class="fa fa-floppy-o" aria-hidden="true" (click)="saveBoard(newBoardID.value)"></i>
</ul>
