<div class="panel panel-default">
  <div class="panel-body">
    <h1 (mouseover)="bla=true" (mouseleave)="bla=false">{{username}} <a [routerLink]="['usercp']"><i *ngIf="bla"
                                                                                                     class="fa fa-pencil"
                                                                                                     aria-hidden="true"></i></a>
    </h1>
    <ul>
      <li>Favorite Task: {{favTask}}</li>
      <li>Total time this week: {{totalHoursWeek}}</li>
      <li>Total time this month: {{totalHoursMonth}}</li>
    </ul>
  </div>
</div>
